<section class="hero">
   <div class="hero-shape"></div>
   <div class="container-fluid">
      <div class="row align-items-center">
         <div class="col-lg-6">
            <div class="hero-content">
               <h1 class="mb-4">{{title}}</h1>
               <div class="mb-7 w-xxl-80">{{ description }}</div>
               <div class="">
                  <a href="{{button.url}}" class="button"> {{button.text}} </a>
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="hero-banner">
               <img src="{{image}}" alt="{{image_alt}}" />
               <div class="hero-banner-shape"></div>
            </div>
         </div>
      </div>
   </div>
</section>

