<section class="hero">
   <div class="hero-shape"></div>
   <div class="container">
      <div class="row">
         <div class="col">
            <div class="hero-content">
               <h1>{{title}} </br><span> {{ title_suffix }} </span></h1>
               <div>{{ description }}</div>
               <div class="">
                  <a href="{{button.url}}" class="button"> {{button.text}} </a>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="hero-banner">
               <img src="{{image}}" alt="{{image_alt}}" />
               <div class="hero-banner-shape"></div>
            </div>
         </div>
      </div>
   </div>
</section>

